body{
	margin: 0;
	font-family: sans-serif;
	line-height: 150%;
	padding-bottom: 0px;
}

div{
/*	border: 1px solid red;
*/}

/* Template */

.header{
margin-top: 15px;
}

.header-title{
	color: #0000cc;
	font-size: 28px;
	margin: 0 auto;
	margin-top: -30px;
	position: relative;
	width: 30%;
}

.authentication{
	float: right;
	margin-right: 5%;
	font-size: 12px;
}

.footer{
	background-color: #0000cc;
	height: 60px;
	bottom: 0;
	width: 100%;
	position: absolute;
}

.wrapper{
	min-height: 100%;
	position: relative;
}

.logo{
	height: 75px;
	width: 180px;
	margin-left: 12%;
}

.menu{
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
/*	padding-left: 15%;
*/	font-size: 20px;
	height: 66px;
}

.for_centering{
	margin: 0 auto;
	width: 50%;
	position: relative;
}

.menu-about{
	background-color: #88aaff;
	height: 45px;
	width: 200px;
	float: left;
	margin-right: 50px;
	padding-top: 20px;
	border: 1px solid #000;
}

.menu-information{
	background-color: #88aaff;
	height: 55px;
	width: 200px;
	float: left;
	margin-right: 50px;
	padding-top: 10px;
	border: 1px solid #000;
}

/* Home */
.second-level{
	height: 200px;
}
.who-we-are{
	width: 30%;
	float: left;
	margin-top: 3%;
	margin-left: 15%;
	padding-right: 5%;
	border-right: 1px solid gray;

}

.home-title{
	font-weight: bold;
	font-size: 20;
	text-align: center;
	padding: 10px;
}

.who-we-are-text{
	text-align: left;
	font-size: 17px;
}

.our-missions{
	width: 30%;
	float: right;
	margin-top: 3%;
	margin-right: 15%;
}

.our-missions-text{
	text-align: left;
	font-size: 17px;
}

.our-site{
	width: 40%;
	float: left;
	margin-top: 80px;
	margin-left: 30%;
	border-top: 1px solid gray;
}

.our-site-title{
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

.our-site-text{
	font-size: 17px;
}

/* About Page */

.about-container{
	width: 100%;
	margin: 0 auto;
}

.history{
	width: 50%;
	text-align: left;
	float: right;
}

.history-title{
	font-weight: bold;
	text-decoration: underline;
	font-size: 20px;
	padding: 10px;
}

.history-text{
	font-size: 17px;
}

.rhs{
	float: right;
	width: 49%;
	margin-top: 50px;
/*	margin-top: -36%;
*/}
.lhs{
	float: left;
	width: 49%;
	margin-top: 50px;

}

.membership{
	margin: 0 auto;
/*	width: 50%;
*/
}

.membership-title{
	font-weight: bold;
	text-decoration: underline;
	font-size: 20px;
	padding: 10px;
}

.membership-text{
	font-size: 17px;
}

.member-organizations{
	margin-top: 25px;
	float: right;

}

.member-organizations-title{
	font-weight: bold;
	text-decoration: underline;
	font-size: 20px;
	padding: 10px;
}

.member-organizations-title{
	font-size: 17px;
}

/* Consumer Information */

.scam{
	width: 20%;
	float: left;
	margin-top: 25px;
	margin-left: 20%;
}

.scam-title{
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
	margin: 10px;
}

.scam-text{
	font-size: 17px;
}

.blog{
	width: 20%;
	float: right;
	margin-top: 25px;
	margin-right: 20%;
}

.blog-title{
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
	margin: 10px;
}

.blog-text{
	font-size: 17px;
}


.links{
	width: 20%;
	float: left;
	margin-left: 20%;
}

.links-title{
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
	margin: 10px;
}

.links-text{
	font-size: 17px;
}

/* Consumer Resources */

.education{
	width: 25%;
	float: left;
	margin-top: 25px;
	margin-left: 20%;
}

.education-title{
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
	margin: 10px;
}

.education-text{
	font-size: 17px;
}

.scam-log{
	width: 20%;
	float: right;
	height: 400px;
	margin-top: 25px;
	margin-right: 20%;
}

.scam-log-title{
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
	margin: 10px;
}

.scam-log-text{
	font-size: 17px;
}

.add-scam{
	text-align: center;
	margin-top: 5px;
	margin-left: 76px;
}


.agencies{
	width: 20%;
	float: left;
	margin-left: 20%;
	margin-top: 5%;
}

.agencies-title{
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
	margin: 10px;
}

.agencies-text{
	font-size: 17px;
}

.credit-report{
	width: 25%;
	float: left;
	margin-top: -19%;
	margin-left: 20%;

}

/* Scam */

.scam-container{
	width: 70%;
	margin: 0 auto;
}

.scam-title{
	text-align: center;
}

.scam-content{
	font-size: 17px;

}
/* Issues and Legislation */

.second-level-issues{
	height: 200px;

}

.issues{
	width: 20%;
	float: left;
	margin-top: 25px;
	margin-left: 20%;
	
}

.issues-title{
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
	margin: 10px;
}

.issues-text{
	font-size: 17px;
}

.add-issue{
	text-align: center;
	margin-top: 5px;
	margin-left: 76px;
}

.legislation{
	width: 20%;
	float: right;
	margin-top: 25px;
	margin-right: 20%;
	
}

.legislation-title{
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
	margin: 10px;
}

.legislation-text{
	font-size: 17px;
}
